@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-green-primary: #15803d;
  --color-cream-paper: #fdf6e3;
  --color-notebook-paper: #f8f8f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Architects Daughter", Arial, Helvetica, sans-serif; /* Aplicando la fuente */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
